/* App.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("ciel.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.container {
  display: flex;
  max-width: 800px;
  border-radius: 20px;
  width: 100%;
}

.left-container,
.right-container {
  flex: 1;
  margin: 20px;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cold-theme {
  background-color: rgba(168, 214, 225, 0.8);
  background-image: url("../public/imgcold.jpg");

}

.moderate-theme {
  background-color: rgba(240, 240, 240, 0.8);
  background-image: url("../public/imgmoderate.webp");
 

}

.warm-theme {
  background-color: rgba(253, 210, 164, 0.8);
 
}

.weather-info {
  text-align: center;
}

.weather-info p {
  margin: 8px 0;
}

.coordinates-container {
  text-align: center;
  margin-top: 20px;
}

.coordinates-container label {
  margin-right: 10px;
}

.header {
  color: #000000;
  padding: 5px;
  text-align: center;
}

